# 프로젝트 - Movielens 영화 SBR

* Movielens 1M Dataset을 기반으로, Session based Recommendation 시스템을 제작

In [1]:
# 1) wget으로 데이터 다운로드
# $ wget http://files.grouplens.org/datasets/movielens/ml-1m.zip

# 2) 다운받은 데이터를 작업디렉토리로 이동
# $ mv ml-1m.zip ~/aiffel/yoochoose-data

# 3) 압축 해제
# $ cd ~/aiffel/yoochoose-data && unzip ml-1m.zip

In [2]:
import datetime as dt
from pathlib import Path
import os

import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
# 데이터 설명(README)를 읽어 봅니다. 
import os
f = open(os.getenv('HOME')+'/aiffel/yoochoose-data/ml-1m/README', 'r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

SUMMARY

================================================================================



These files contain 1,000,209 anonymous ratings of approximately 3,900 movies

made by 6,040 MovieLens users who joined MovieLens in 2000.



USAGE LICENSE

================================================================================



Neither the University of Minnesota nor any of the researchers

involved can guarantee the correctness of the data, its suitability

for any particular purpose, or the validity of results based on the

use of the data set.  The data set may be used for any research

purposes under the following conditions:



     * The user may not state or imply any endorsement from the

       University of Minnesota or the GroupLens Research Group.



     * The user must acknowledge the use of the data set in

       publications resulting from the use of the data set

       (see below for citation information).



     * The user may not redistribute the data without separate

       permission.



     * The user may not use this information for any commercial or

       revenue-bearing purposes without first obtaining permission

       from a faculty member of the GroupLens Research Project at the

       University of Minnesota.



If you have any further questions or comments, please contact GroupLens

<grouplens-info@cs.umn.edu>.



CITATION

================================================================================



To acknowledge use of the dataset in publications, please cite the following

paper:



F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History

and Context. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4,

Article 19 (December 2015), 19 pages. DOI=http://dx.doi.org/10.1145/2827872





ACKNOWLEDGEMENTS

================================================================================



Thanks to Shyong Lam and Jon Herlocker for cleaning up and generating the data

set.



FURTHER INFORMATION ABOUT THE GROUPLENS RESEARCH PROJECT

================================================================================



The GroupLens Research Project is a research group in the Department of

Computer Science and Engineering at the University of Minnesota. Members of

the GroupLens Research Project are involved in many research projects related

to the fields of information filtering, collaborative filtering, and

recommender systems. The project is lead by professors John Riedl and Joseph

Konstan. The project began to explore automated collaborative filtering in

1992, but is most well known for its world wide trial of an automated

collaborative filtering system for Usenet news in 1996. Since then the project

has expanded its scope to research overall information filtering solutions,

integrating in content-based methods as well as improving current collaborative

filtering technology.



Further information on the GroupLens Research project, including research

publications, can be found at the following web site:



        http://www.grouplens.org/



GroupLens Research currently operates a movie recommender based on

collaborative filtering:



        http://www.movielens.org/



RATINGS FILE DESCRIPTION

================================================================================



All ratings are contained in the file "ratings.dat" and are in the

following format:



UserID::MovieID::Rating::Timestamp



- UserIDs range between 1 and 6040

- MovieIDs range between 1 and 3952

- Ratings are made on a 5-star scale (whole-star ratings only)

- Timestamp is represented in seconds since the epoch as returned by time(2)

- Each user has at least 20 ratings



USERS FILE DESCRIPTION

================================================================================



User information is in the file "users.dat" and is in the following

format:



UserID::Gender::Age::Occupation::Zip-code



All demographic information is provided voluntarily by the users and is

not checked for accuracy.  Only users who have provided some demographic

information are included in this data set.



- Gender is denoted by a "M" for male and "F" for female

- Age is chosen from the following ranges:



	*  1:  "Under 18"

	* 18:  "18-24"

	* 25:  "25-34"

	* 35:  "35-44"

	* 45:  "45-49"

	* 50:  "50-55"

	* 56:  "56+"



- Occupation is chosen from the following choices:



	*  0:  "other" or not specified

	*  1:  "academic/educator"

	*  2:  "artist"

	*  3:  "clerical/admin"

	*  4:  "college/grad student"

	*  5:  "customer service"

	*  6:  "doctor/health care"

	*  7:  "executive/managerial"

	*  8:  "farmer"

	*  9:  "homemaker"

	* 10:  "K-12 student"

	* 11:  "lawyer"

	* 12:  "programmer"

	* 13:  "retired"

	* 14:  "sales/marketing"

	* 15:  "scientist"

	* 16:  "self-employed"

	* 17:  "technician/engineer"

	* 18:  "tradesman/craftsman"

	* 19:  "unemployed"

	* 20:  "writer"



MOVIES FILE DESCRIPTION

================================================================================



Movie information is in the file "movies.dat" and is in the following

format:



MovieID::Title::Genres



- Titles are identical to titles provided by the IMDB (including

year of release)

- Genres are pipe-separated and are selected from the following genres:



	* Action

	* Adventure

	* Animation

	* Children's

	* Comedy

	* Crime

	* Documentary

	* Drama

	* Fantasy

	* Film-Noir

	* Horror

	* Musical

	* Mystery

	* Romance

	* Sci-Fi

	* Thriller

	* War

	* Western



- Some MovieIDs do not correspond to a movie due to accidental duplicate

entries and/or test entries

- Movies are mostly entered by hand, so errors and inconsistencies may exist

In [4]:
data_path = Path(os.getenv('HOME')+'/aiffel/yoochoose-data/ml-1m') 
train_path = data_path / 'ratings.dat'

def load_data(data_path: Path, nrows=None):
    data = pd.read_csv(data_path, sep='::', header=None, usecols=[0, 1, 2, 3], dtype={0: np.int32, 1: np.int32, 2: np.int32}, nrows=nrows)
    data.columns = ['UserId', 'ItemId', 'Rating', 'Time']
    return data

data = load_data(train_path, None)
data.sort_values(['UserId', 'Time'], inplace=True)  # data를 id와 시간 순서로 정렬해줍니다.
data

         UserId  ItemId  Rating       Time
31            1    3186       4  978300019
22            1    1270       5  978300055
27            1    1721       4  978300055
37            1    1022       5  978300055
24            1    2340       3  978300103
...         ...     ...     ...        ...
1000019    6040    2917       4  997454429
999988     6040    1921       4  997454464
1000172    6040    1784       3  997454464
1000167    6040     161       3  997454486
1000042    6040    1221       4  998315055

[1000209 rows x 4 columns]

* 여기서 이전 실습내역과 가장 크게 다른 부분은 바로 SessionID 대신 UserID 항목이 들어갔다는 점입니다. 이 데이터셋은 명확한 1회 세션의 SessionID를 포함하지 않고 있습니다. 그래서 이번에는 UserID가 SessionID 역할을 해야 합니다.

* Rating 정보가 포함되어 있습니다. 이전 실습내역에서는 이런 항목이 포함되어 있지 않았으므로, 무시하고 제외할 수 있습니다. 하지만, 직전에 봤던 영화가 맘에 들었는지 여부가 비슷한 영화를 더 고르게 하는 것과 상관이 있을 수도 있습니다. 아울러, Rating이 낮은 데이터를 어떻게 처리할지도 고민해야 합니다.

* Time 항목에는 UTC time 가 포함되어, 1970년 1월 1일부터 경과된 초단위 시간이 기재되어 있습니다.

## 데이터의 전처리

In [5]:
data.nunique()

UserId      6040
ItemId      3706
Rating         5
Time      458455
dtype: int64

In [6]:
data.isnull().sum()

UserId    0
ItemId    0
Rating    0
Time      0
dtype: int64

In [7]:
data['Rating'][data['Rating']<3].value_counts().sum()
# 100만개중 42만개가 3점이하 >>미사용

163731

In [8]:
data['Rating'][data['Rating']==5].value_counts().sum()

226310

In [9]:
data = data[data['Rating']>=3]

In [10]:
data.reset_index(drop=True, inplace=True)

In [11]:
data

        UserId  ItemId  Rating       Time
0            1    3186       4  978300019
1            1    1270       5  978300055
2            1    1721       4  978300055
3            1    1022       5  978300055
4            1    2340       3  978300103
...        ...     ...     ...        ...
836473    6040    2917       4  997454429
836474    6040    1921       4  997454464
836475    6040    1784       3  997454464
836476    6040     161       3  997454486
836477    6040    1221       4  998315055

[836478 rows x 4 columns]

* 접속시간대

In [12]:
import datetime
Time2 = []
for i in range(len(data['Time'])):
    timestamp = datetime.datetime.fromtimestamp(i)
    #print(timestamp)
     
    Time2.append(timestamp)
print(len(Time2))

836478

In [13]:
Time2 = pd.Series(Time2, name='Time2')

In [14]:
data = pd.concat([data,Time2], axis=1)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836478 entries, 0 to 836477
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   UserId  836478 non-null  int32
 1   ItemId  836478 non-null  int32
 2   Rating  836478 non-null  int32
 3   Time    836478 non-null  int64
 4   Time2   836478 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int32(3), int64(1)
memory usage: 22.3 MB

In [16]:
oldest, latest = data['Time2'].min(), data['Time2'].max()
print(oldest) 
print(latest)
# 70년도의 10일치 데이터??

1970-01-01 09:00:00
1970-01-11 01:21:17

In [17]:
user_length = data.groupby('UserId').size()
user_length

UserId
1        53
2       116
3        46
4        19
5       143
       ...
6036    708
6037    189
6038     18
6039    119
6040    276
Length: 6039, dtype: int64

In [18]:
user_length.mean()

138.51266766020865

In [19]:
# 한유저가 몇개의 영화에 평점을 줬는가?
# 10일간의 데이터에서 마지막1일 테스트 그전1일 평가 나머지 훈련

In [20]:
def split_by_date(data: pd.DataFrame, n_days: int):
    final_time = data['Time2'].max()
    user_last_time = data.groupby('UserId')['Time2'].max()
    user_in_train = user_last_time[user_last_time < final_time - dt.timedelta(n_days)].index
    user_in_test = user_last_time[user_last_time >= final_time - dt.timedelta(n_days)].index

    before_date = data[data['UserId'].isin(user_in_train)]
    after_date = data[data['UserId'].isin(user_in_test)]
    after_date = after_date[after_date['ItemId'].isin(before_date['ItemId'])]
    return before_date, after_date

In [21]:
tr, test = split_by_date(data, n_days=1)
tr, val = split_by_date(tr, n_days=1)

In [22]:
# data에 대한 정보를 살펴봅니다.
def stats_info(data: pd.DataFrame, status: str):
    print(f'* {status} Set Stats Info\n'
          f'\t Events: {len(data)}\n'
          f'\t Sessions: {data["UserId"].nunique()}\n'
          f'\t Items: {data["ItemId"].nunique()}\n'
          f'\t First Time : {data["Time2"].min()}\n'
          f'\t Last Time : {data["Time2"].max()}\n')

In [23]:
stats_info(tr, 'train')
stats_info(val, 'valid')
stats_info(test, 'test')

* train Set Stats Info
	 Events: 663519
	 Sessions: 4765
	 Items: 3597
	 First Time : 1970-01-01 09:00:00
	 Last Time : 1970-01-09 01:18:38

* valid Set Stats Info
	 Events: 86417
	 Sessions: 659
	 Items: 3122
	 First Time : 1970-01-09 01:18:39
	 Last Time : 1970-01-10 01:19:19

* test Set Stats Info
	 Events: 86507
	 Sessions: 615
	 Items: 3055
	 First Time : 1970-01-10 01:19:20
	 Last Time : 1970-01-11 01:21:17

In [24]:
# train set에 없는 아이템이 val, test기간에 생길 수 있으므로 train data를 기준으로 인덱싱합니다.
id2idx = {item_id : index for index, item_id in enumerate(tr['ItemId'].unique())}

def indexing(df, id2idx):
    df['item_idx'] = df['ItemId'].map(lambda x: id2idx.get(x, -1))  # id2idx에 없는 아이템은 모르는 값(-1) 처리 해줍니다.
    return df

tr = indexing(tr, id2idx)
val = indexing(val, id2idx)
test = indexing(test, id2idx)

In [25]:
save_path = data_path / 'processed'
save_path.mkdir(parents=True, exist_ok=True)

tr.to_pickle(save_path / 'train.pkl')
val.to_pickle(save_path / 'valid.pkl')
test.to_pickle(save_path / 'test.pkl')

* 미니배치구성

데이터가 주어지면 세션이 시작되는 인덱스를 담는 값과 세션을 새로 인덱싱한 값을 갖는 클래스

In [26]:
class UserDataset:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, data):
        self.df = data
        self.click_offsets = self.get_click_offsets()
        self.user_idx = np.arange(self.df['UserId'].nunique())  # indexing to SessionId

    def get_click_offsets(self):
        """
        Return the indexes of the first click of each session IDs,
        """
        offsets = np.zeros(self.df['UserId'].nunique() + 1, dtype=np.int32)
        offsets[1:] = self.df.groupby('UserId').size().cumsum()
        return offsets

In [27]:
tr_dataset = UserDataset(tr)
tr_dataset.df.head(5)

   UserId  ItemId  Rating       Time               Time2  item_idx
0       1    3186       4  978300019 1970-01-01 09:00:00         0
1       1    1270       5  978300055 1970-01-01 09:00:01         1
2       1    1721       4  978300055 1970-01-01 09:00:02         2
3       1    1022       5  978300055 1970-01-01 09:00:03         3
4       1    2340       3  978300103 1970-01-01 09:00:04         4

In [28]:
# 각 세션이 시작된 인덱스
tr_dataset.click_offsets

array([     0,     53,    169, ..., 663235, 663485, 663519], dtype=int32)

In [29]:
# 각 세션을 인덱싱한 np.array
tr_dataset.user_idx

array([   0,    1,    2, ..., 4762, 4763, 4764])

SessionDataset 객체를 받아서 Session-Parallel mini-batch를 만드는 클래스

In [30]:
class UserDataLoader:
    """Credit to yhs-968/pyGRU4REC."""

    def __init__(self, dataset: UserDataset, batch_size=50):
        self.dataset = dataset
        self.batch_size = batch_size

    def __iter__(self):
        """ Returns the iterator for producing session-parallel training mini-batches.
        Yields:
            input (B,):  Item indices that will be encoded as one-hot vectors later.
            target (B,): a Variable that stores the target item indices
            masks: Numpy array indicating the positions of the sessions to be terminated
        """

        start, end, mask, last_session, finished = self.initialize()  # initialize 메소드에서 확인
        """
        start : Index Where Session Start
        end : Index Where Session End
        mask : indicator for the sessions to be terminated
        """

        while not finished:
            min_len = (end - start).min() - 1  # Shortest Length Among Sessions
            for i in range(min_len):
                # Build inputs & targets
                inp = self.dataset.df['item_idx'].values[start + i]
                target = self.dataset.df['item_idx'].values[start + i + 1]
                yield inp, target, mask

            start, end, mask, last_session, finished = self.update_status(start, end, min_len, last_session, finished)

    def initialize(self):
        first_iters = np.arange(self.batch_size)    # 첫 배치에 사용할 세션 Index를 가져옵니다.
        last_session = self.batch_size - 1    # 마지막으로 다루고 있는 세션 Index를 저장해둡니다.
        start = self.dataset.click_offsets[self.dataset.user_idx[first_iters]-1]       # data 상에서 session이 시작된 위치를 가져옵니다.
        end = self.dataset.click_offsets[self.dataset.user_idx[first_iters] + 1]  # session이 끝난 위치 바로 다음 위치를 가져옵니다.
        mask = np.array([])   # session의 모든 아이템을 다 돌은 경우 mask에 추가해줄 것입니다.
        finished = False         # data를 전부 돌았는지 기록하기 위한 변수입니다.
        return start, end, mask, last_session, finished

    def update_status(self, start: np.ndarray, end: np.ndarray, min_len: int, last_session: int, finished: bool):  
        # 다음 배치 데이터를 생성하기 위해 상태를 update합니다.
        
        start += min_len   # __iter__에서 min_len 만큼 for문을 돌았으므로 start를 min_len 만큼 더해줍니다.
        mask = np.arange(self.batch_size)[(end - start) == 1]  
        # end는 다음 세션이 시작되는 위치인데 start와 한 칸 차이난다는 것은 session이 끝났다는 뜻입니다. mask에 기록해줍니다.

        for i, idx in enumerate(mask, start=1):  # mask에 추가된 세션 개수만큼 새로운 세션을 돌것입니다.
            new_session = last_session + i  
            if new_session > self.dataset.user_idx[-1]:  # 만약 새로운 세션이 마지막 세션 index보다 크다면 모든 학습데이터를 돈 것입니다.
                finished = True
                break
            # update the next starting/ending point
            start[idx] = self.dataset.click_offsets[self.dataset.user_idx[new_session]]     # 종료된 세션 대신 새로운 세션의 시작점을 기록합니다.
            end[idx] = self.dataset.click_offsets[self.dataset.user_idx[new_session] + 1]

        last_session += len(mask)  # 마지막 세션의 위치를 기록해둡니다.
        return start, end, mask, last_session, finished

In [31]:
tr_data_loader = UserDataLoader(tr_dataset, batch_size=4)
tr_dataset.df.head(5)

   UserId  ItemId  Rating       Time               Time2  item_idx
0       1    3186       4  978300019 1970-01-01 09:00:00         0
1       1    1270       5  978300055 1970-01-01 09:00:01         1
2       1    1721       4  978300055 1970-01-01 09:00:02         2
3       1    1022       5  978300055 1970-01-01 09:00:03         3
4       1    2340       3  978300103 1970-01-01 09:00:04         4

In [32]:
iter_ex = iter(tr_data_loader)

In [33]:
inputs, labels, mask =  next(iter_ex)
print(f'Model Input Item Idx are : {inputs}')
print(f'Label Item Idx are : {"":5} {labels}')
print(f'Previous Masked Input Idx are {mask}')

Model Input Item Idx are : [201  52 101 192]
Label Item Idx are :       [ 12  53 102  16]
Previous Masked Input Idx are [0]

## 모델구성

* eval metric

In [34]:
def mrr_k(pred, truth: int, k: int):
    indexing = np.where(pred[:k] == truth)[0]
    if len(indexing) > 0:
        return 1 / (indexing[0] + 1)
    else:
        return 0


def recall_k(pred, truth: int, k: int) -> int:
    answer = truth in pred[:k]
    return int(answer)

In [35]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, Dropout, GRU
from tensorflow.keras.losses import categorical_crossentropy
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.utils import to_categorical
from tqdm import tqdm

In [36]:
def create_model(args):
    inputs = Input(batch_shape=(args.batch_size, 1, args.num_items))
    gru, _ = GRU(args.hsz, stateful=True, return_state=True, name='GRU')(inputs)
    dropout = Dropout(args.drop_rate)(gru)
    predictions = Dense(args.num_items, activation='softmax')(dropout)
    model = Model(inputs=inputs, outputs=[predictions])
    model.compile(loss=categorical_crossentropy, optimizer=Adam(args.lr), metrics=['accuracy'])
    model.summary()
    return model

* hyper-p

In [37]:
class Args:
    def __init__(self, tr, val, test, batch_size, hsz, drop_rate, lr, epochs, k):
        self.tr = tr
        self.val = val
        self.test = test
        self.num_items = tr['ItemId'].nunique()
        self.num_sessions = tr['UserId'].nunique()
        self.batch_size = batch_size
        self.hsz = hsz
        self.drop_rate = drop_rate
        self.lr = lr
        self.epochs = epochs
        self.k = k

args = Args(tr, val, test, batch_size=2048, hsz=50, drop_rate=0.1, lr=0.001, epochs=3, k=20)

In [38]:
model = create_model(args)

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(2048, 1, 3597)]         0
_________________________________________________________________
GRU (GRU)                    [(2048, 50), (2048, 50)]  547350
_________________________________________________________________
dropout (Dropout)            (2048, 50)                0
_________________________________________________________________
dense (Dense)                (2048, 3597)              183447
=================================================================
Total params: 730,797
Trainable params: 730,797
Non-trainable params: 0
_________________________________________________________________

In [39]:
# train 셋으로 학습하면서 valid 셋으로 검증합니다.
def train_model(model, args):
    train_dataset = UserDataset(args.tr)
    train_loader = UserDataLoader(train_dataset, batch_size=args.batch_size)

    for epoch in range(1, args.epochs + 1):
        total_step = len(args.tr) - args.tr['UserId'].nunique()
        tr_loader = tqdm(train_loader, total=total_step // args.batch_size, desc='Train', mininterval=1)
        for feat, target, mask in tr_loader:
            reset_hidden_states(model, mask)  # 종료된 session은 hidden_state를 초기화합니다. 

            input_ohe = to_categorical(feat, num_classes=args.num_items)
            input_ohe = np.expand_dims(input_ohe, axis=1)
            target_ohe = to_categorical(target, num_classes=args.num_items)

            result = model.train_on_batch(input_ohe, target_ohe)
            tr_loader.set_postfix(train_loss=result[0], accuracy = result[1])

        val_recall, val_mrr = get_metrics(args.val, model, args, args.k)  # valid set에 대해 검증합니다.

        print(f"\t - Recall@{args.k} epoch {epoch}: {val_recall:3f}")
        print(f"\t - MRR@{args.k}    epoch {epoch}: {val_mrr:3f}\n")


def reset_hidden_states(model, mask):
    gru_layer = model.get_layer(name='GRU')  # model에서 gru layer를 가져옵니다.
    hidden_states = gru_layer.states[0].numpy()  # gru_layer의 parameter를 가져옵니다.
    for elt in mask:  # mask된 인덱스 즉, 종료된 세션의 인덱스를 돌면서
        hidden_states[elt, :] = 0  # parameter를 초기화 
    gru_layer.reset_states(states=hidden_states)


def get_metrics(data, model, args, k: int):  
                                             #  mrr, recall을 구하는 라인잇다.
    dataset = UserDataset(data)
    loader = UserDataLoader(dataset, batch_size=args.batch_size)
    recall_list, mrr_list = [], []

    total_step = len(data) - data['UserId'].nunique()
    for inputs, label, mask in tqdm(loader, total=total_step // args.batch_size, desc='Evaluation', mininterval=1):
        reset_hidden_states(model, mask)
        input_ohe = to_categorical(inputs, num_classes=args.num_items)
        input_ohe = np.expand_dims(input_ohe, axis=1)

        pred = model.predict(input_ohe, batch_size=args.batch_size)
        pred_arg = tf.argsort(pred, direction='DESCENDING')  # softmax 값이 큰 순서대로 sorting 

        length = len(inputs)
        recall_list.extend([recall_k(pred_arg[i], label[i], k) for i in range(length)])
        mrr_list.extend([mrr_k(pred_arg[i], label[i], k) for i in range(length)])

    recall, mrr = np.mean(recall_list), np.mean(mrr_list)
    return recall, mrr

In [40]:
train_model(model, args)

Train: 217188it [2:41:11, 22.46it/s, accuracy=0.123, train_loss=4.94]

KeyboardInterrupt:

Train :216500it, 2:40:00 accu=0.12 train_loss = 4.9

In [ ]:
def test_model(model, args, test):
    test_recall, test_mrr = get_metrics(test, model, args, 20)
    print(f"\t - Recall@{args.k}: {test_recall:3f}")
    print(f"\t - MRR@{args.k}: {test_mrr:3f}\n")

test_model(model, args, test)

In [ ]:
'''노드에서 sessionid 기준으로 item들을 시간대별로 정렬해서 병렬처리 한 방식과 달리
UserId기준으로 작업을 했더니 전처리가 잘못되었거나, 모델이 잘못되었는지 accuracy가 매우 낮게 나오는 현상이 발생
GRU모델의 기본적인 개념을 맞게 이해했는지 모르겠으나, 이를 코드로 구현하는데 매우 어려워서 거의 그대로 필사하였고, 
어느부분을 수정해야하는지에 대한 내용도 어려움'''